<div
  class="w-full p-4 flex items-center"
>
  <button (click)="toggleMenu()" mat-ripple class="p-1 flex justify-center items-center rounded">
    <mat-icon>menu</mat-icon>
  </button>

  <div class="mx-auto">
    <h1 class="text-xl font-bold capitalize">{{mainBarTitleService.title$.value}}</h1>
  </div>

  <div class="flex gap-1">
    <button mat-ripple class="p-1 flex justify-center items-center rounded">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-ripple class="p-1 flex justify-center items-center rounded" matBadgeSize="small" [matBadge]="3">
      <mat-icon>notifications</mat-icon>
    </button>
  </div>
</div>
